*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

body{
    height: calc(100vh - 5em);
}

main{
    height: 100%;
}

#elmish-app{
    height:100%;
}

page-main{
    height: 100%;
}