.nav-button {
    appearance: none;
    display: flex;
    align-self: center;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transform: scale(0.8);
}
