.nav-button {
    appearance: none;
    display: inline-flex;
    align-self: center;
    padding: 1.2em 2em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transform: scale(0.8);
}
#title {
    height: 3em;
    padding: 1em 1em;
}
.button-panel {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#form {
    flex-grow: 1;
    .detail-label {
        margin: 0.1em 0;
        display: block;
    }
    input[type="checkbox"] {
        margin: 0;
    }
    #mode-panel {
        line-height: 2em;
        display: flex;
        justify-content: space-around;
    }
    @media only screen and (min-width: 600px) {
        padding: 1em;
    }
}
