* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.nav-button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #3298dc;
    border: 2px solid #3298dc;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.nav-button:hover,
.nav-button :focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #f14668 inset;
}


