
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    padding: 1em;
}

:host>section:nth-of-type(2)::-webkit-scrollbar {
    display: none;
}

:host>section:nth-of-type(2) {

    flex-grow: 1;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100%;
}

#scrolling-body>* {
    scroll-snap-align: start;
    flex-grow: 1;
    flex-basis: 33%;
}

#scrolling-body {
    width: 300vw;
    display: flex;
    height: 100%;
    max-height: 100%;
}

@media only screen and (min-width: 1025px) {
    #scrolling-body {
        width: 150vw;
    }

}

#help,
#my-canvas {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#help> :first-child {
    min-height: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.nav-button-wrapper {
    margin-bottom: 6em;
    display: flex;
    place-content: center;
    justify-content: center;
}

slot[name="my-canvas"]::slotted(#my-canvas) {
    flex-grow: 1;
}

slot[name="my-canvas"]::slotted(#visual-filter) {
    display: flex;
    justify-content: center;
    min-height: 54px;
}
/* safari scrolling fix*/
::slotted(#visual-filter){
    position: relative;
    top:4em;
}
