@charset "utf-8";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";


page-main {
    #form-wrapper {
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 1025px) {
            padding-top: 2em;
        }
    }

    #form {
        flex-grow: 1;
    }
    #title {
        height: 3em;
        background-color: red;
        color: white;
        font-weight: bold;
        padding: 1em 1em;
        font-size: 1.1em;
    }
}

#form-wrapper {
    .detail-label {
        margin: 0.1em 0;
        display: block;
    }
    input[type="checkbox"] {
        margin: 0;
    }
    th {
        font-weight: unset;
    }
    .button-panel {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    label {
        font-weight: bold;
    }
    input[type="number"],
    input {
        border: 1px solid gray;
        box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
        max-width: 100%;
        width: 100%;
        background-color: #fff;
        border-color: #dbdbdb;
        border-radius: 4px;
        color: #363636;
        padding: 0.5em 0.2em;
    }
    .fa-plus-circle {
        background-color: #00d1b2;
        border-color: transparent;
        color: #fff;
        height: 100%;
        width: 100%;
        display: block;
    }
    .fa-times-circle {
        background-color: #f14668;
        border-color: transparent;
        color: #fff;
        height: 100%;
        width: 100%;
        display: block;
    }

    table label {
        font-size: 0.7em;
        font-weight: 400;
    }
    table input {
        font-size: 0.8em;
    }
    li {
        margin-bottom: 0.6em;
        font-size: 0.8em;
    }

    table,
    tr,
    th,
    td {
        border: 1px solid gray;
        height: 100%;
    }
    th {
        background-color: #f5fb6199;
    }

    table {
        border-collapse: collapse;
        margin: 1em 0;
        max-width: 100vw;
    }

    button:disabled {
        opacity: 0.5;
    }
    select {
        display: block;
    }

    #calculate-button {
        background-color: #00d1b2;
        border-color: transparent;
        box-shadow: none;
        color: white;
        padding: 1em;
        white-space: nowrap;
        display: block;
        margin: 1em 0;
        width: 50%;
    }
    .share-button {
        background-color: #3298dc;
        border-color: transparent;
        box-shadow: none;
        color: white;
        justify-content: center;
        padding: 1em;
        text-align: center;
        white-space: nowrap;
        display: block;
        margin: 1em 0;
        width: 50%;
    }

    .arrow-button {
        background-color: #f14668;
        border-color: transparent;
        box-shadow: none;
        color: white;
        justify-content: center;
        padding: 1em;
        text-align: center;
        white-space: nowrap;
        margin: 0 1em;
    }
    #mode-panel {
        line-height: 2em;
        display: flex;
        justify-content: space-around;
    }
    @media only screen and (min-width: 600px) {
        padding: 1em;
    }
    @media only screen and (min-width: 1025px) {
        table label {
            font-size: 1em;
            font-weight: bold;
        }
        table input {
            font-size: 1em;
        }
        padding: 1em;
    }
}


