@charset "utf-8";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

/* -- General -- */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}
h1 {
    all: unset;
    display: block;
    background-color: #bd3a3a;
    color: white;
    font-size: 2em;
    line-height: 25px;
    padding: 0.5em;
    border-radius: 0.1em;
}

page-main {
    .inner-wrapper{
        max-height: 80vh;
        overflow-y: auto;
    }
    /* -- Pages -- */

    #canvas-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media only screen and (min-width: 1025px) {
            border-left: 1px solid black;
            padding-top:1em;
        }
    }
    canvas{
        height: 80vh !important;
    }
    #form-wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        @media only screen and (min-width: 1025px) {
            padding-top:2em;
        }
    }

    #help-wrapper {
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 1025px) {
            padding-top:2em;
        }
    }

    #help {
        flex-grow: 1;
    }
    #form {
        flex-grow: 1;
    }
    #title {
        height: 3em;
        background-color: red;
        color:white;
        font-weight: bold;
        padding: 1em 1em;
        font-size: 1.1em;
    }
    #my-canvas {
        width: 100% !important;
        flex-basis: 50%;
        flex-grow: 1;
    }
}
#canvas-wrapper {
    .dg.main {
        margin: 0 auto;
        position: relative;
        top: 5em;
    }
}
#help-wrapper {
    li {
        font-size: 0.8em;
        margin-bottom: 0.6em;
    }
    @media only screen and (min-width: 600px) {
        padding: 1em;
        li {
            font-size: 0.9em;
            margin-bottom: 1em;
        }
    }
}
#form-wrapper {
    .detail-label{
        margin: 0.1em 0;
        display: block;
    }
    input[type="checkbox"] {
        margin: 0;
    }
    th {
        font-weight: unset;
    }
    .button-panel {
        display: flex;
        justify-content: space-around;
    }
    label {
        font-weight: bold;
    }
    input[type="number"],
    input {
        border: 1px solid gray;
        box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
        max-width: 100%;
        width: 100%;
        background-color: #fff;
        border-color: #dbdbdb;
        border-radius: 4px;
        color: #363636;
        padding: 0.5em 0.2em;
    }
    .fa-plus-circle {
        background-color: #00d1b2;
        border-color: transparent;
        color: #fff;
        height: 100%;
        width: 100%;
        display: block;
    }
    .fa-times-circle {
        background-color: #f14668;
        border-color: transparent;
        color: #fff;
        height: 100%;
        width: 100%;
        display: block;
    }

    table label {
        font-size: 0.7em;
        font-weight: 400;
    }
    table input {
        font-size: 0.8em;
    }
    li {
        margin-bottom: 0.6em;
        font-size: 0.8em;
    }

    table,
    tr,
    th,
    td {
        border: 1px solid gray;
        height: 100%;
    }
    th {
        background-color: #f5fb6199;
    }

    table {
        border-collapse: collapse;
        margin: 1em 0;
        max-width: 100vw;
    }

    button:disabled {
        opacity: 0.5;
    }
    select {
        display: block;
    }
    #item-table-wrapper {
        max-height: 40vh;
        overflow-y: auto;
    }
    #calculate-button {
        background-color: #00d1b2;
        border-color: transparent;
        box-shadow: none;
        color: white;
        padding: 1em;
        white-space: nowrap;
        display: block;
        margin: 1em 0;
        width:40%;
    }
    .share-button {
        background-color: #3298dc;
        border-color: transparent;
        box-shadow: none;
        color: white;
        justify-content: center;
        padding: 1em;
        text-align: center;
        white-space: nowrap;
        display: block;
        margin: 1em 0;
        width:40%;
    }

    .arrow-button {
        background-color: #f14668;
        border-color: transparent;
        box-shadow: none;
        color: white;
        justify-content: center;
        padding: 1em;
        text-align: center;
        white-space: nowrap;
        margin: 0 1em;
    }
    #mode-panel {
        line-height: 2em;
        display: flex;
        justify-content: space-around;
    }
    @media only screen and (min-width: 600px) {
        padding: 1em;
    }
    @media only screen and (min-width: 1025px) {
        table label {
            font-size: 1em;
            font-weight: bold;
        }
        table input {
            font-size: 1em;
        }
        padding: 1em;
    }
}

.nav-button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #3298dc;
    border: 2px solid #3298dc;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.nav-button :hover,
.nav-button :focus {
    color: #fff;
    outline: 0;
}

.nav-button {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transform: scale(0.8);
}
.nav-button:hover {
    box-shadow: 0 0 40px 40px #f14668 inset;
}

.nav-button {
    margin: 0 auto;
}
